.cart-page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, .6);
    animation: fade-in 500ms forwards;
}

.cart-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 40%;
    height: 100%;
    padding: 2rem 1rem;
    overflow-y: scroll;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    animation: slide-in 500ms forwards;
}

.cart-header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
}

.close-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.cart-content {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-items {
    display: grid;
    gap: .5rem;
}

.cart-checkout-footer {
    display: grid;
    gap: 1rem;
}

.cart-total-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.checkout-link {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #000;
    text-align: center;
    padding: .5rem 0;
    width: 100%;
    color: black;
}

.checkout-link:hover {
    background-color: #000;
    color: white;
}

.empty-cart-message {
    text-align: center;
    color: rgb(146, 146, 146);
}

.hideCart .cart-page {
    display: none;
}

.cart-page[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 1s forwards;
}

.cart-wrapper[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: slide-out 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(150%)
    }

    100% {
        transform: translateX(350%);
    }
}