/* body.active-modal {
    overflow-y: hidden;
} */

.menu,
.menu-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}

.menu {
    background-color: rgb(109, 24, 255);
    color: white;
}

.menu-header {
    background-color: rgb(240, 228, 153);
    padding: 1rem;
}

.menu-items {
    list-style: none;
    padding: 1rem;
    display: grid;
    gap: .5rem;
}

.menu-item {
    padding: .5rem 1rem;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, .4);
}

.close-menu {
    cursor: pointer;
}