.menu,
.menu-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.menu {
    background-color: #fff;
    color: #000;
    animation: slide-down .36s cubic-bezier(0.32, 0.08, 0.24, 1) forwards;
}

.menu-header {
    background-color: rgb(24, 213, 255);

    padding: 1rem;
}

.menu-items {
    list-style: none;
    padding: 1rem;
    display: grid;
    gap: .5rem;
}

.menu-item {
    padding: .5rem 1rem;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.menu-item:hover,
.menu-item:focus {
    background-color: rgba(255, 217, 0, .4);
    color: black;
}

.close-menu {
    cursor: pointer;
}

.hideMenu .menu {
    display: none;
}

.menu[closing] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation:
        slide-up .56s cubic-bezier(0.52, 0.16, 0.24, 1) forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}