nav {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-bar>li {
    list-style: none;
}

.links {
    color: #000;
    text-decoration: none;
}

.nav-bar.inner {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    color: rgb(0, 229, 255);
}

.nav-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    background-color: rgb(235, 235, 235);
}

.shop-bag {
    position: relative;
}

.showCartCount .cart-count {
    opacity: 1;
    color: white;
    background-color: rgb(255, 139, 139);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: .65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    right: -8px;
}

.cart-count {
    opacity: 0;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: .65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    right: -8px;
}

.nav-links-desktop {
    list-style: none;
    gap: 1rem;
    position: absolute;
    top: 25%;
    left: 1rem;
    display: none;
    color: #000;
    font-size: 1rem;
    animation: fade-in 200ms forwards;
}

.nav-links-desktop>*:hover {
    color: rgb(116, 116, 116);
    cursor: pointer;
}

@media (min-width: 600px) {
    .nav-links-desktop {
        display: flex;
    }

    .nav-button.menu-icon {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}