.home-page {
    padding-top: 2rem;
}

.unit-copy-wrapper {
    position: relative;
    text-align: center;
    color: white;
    flex-grow: 0;
    z-index: 4;
    display: grid;
    gap: .5rem;
}

.unit-image-wrapper {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.unit-image {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.3)),
        url("../../img/messi-world-cup.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.shop-link {
    color: white;
    text-decoration: none;
    width: max-content;
    margin: auto;
    position: relative;
}

.cta-link {
    background-color: rgba(2, 234, 255, .6);
    width: max-content;
    padding: 1rem;
    margin: auto;
    display: flex;
    gap: .5rem;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}

.cta-link::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(2, 234, 255, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.cta-link:hover::before,
.cta-link:focus::before {
    transform: scaleX(1);
}

.cta-link:hover,
.cta-link:focus {
    color: white;
    font-weight: 600;
}

.shop-now-icon {
    font-size: 1rem;
}