.product-card {
    display: grid;
    grid-template-rows: 1fr auto;
    height: max-content;
    background-color: rgb(255, 255, 255);
    min-height: 360px;
    width: 100%;
}

.product-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.product-card__info {
    padding: .5rem;
    padding-bottom: 0;
    font-size: .85rem;
}

.product-card__name,
.product-card__price {
    font-weight: 600;
}

.product-card__price {
    margin-top: .5rem;
}

.product-card__category {
    color: rgb(170, 170, 170);
}

.product-image-container {
    background-color: rgb(220, 220, 220);
}